{{log model}}

<ul class="items-container">
    {{#each model as |item|}}
    <li class="menu-item">
        <h4>{{item.name}}</h4>
        <img src="/img/{{item.image}}" alt="{{item.name}}">
        <p>
            {{#link-to 'item' item.id}}Details{{/link-to}}
        </p>
    </li>
    {{/each}}
</ul>

{{outlet}}