{{log model}}

<ul class="items-container">
    {{#each model as |item|}}
    <li class="menu-item">
        <h4>{{item.name}}</h4>
        <img src="{{item.img}}" alt="{{item.name}}">
        <p>
            <a href="{{item.id}}">Details</a>
        </p>
    </li>
    {{/each}}
</ul>

{{outlet}}